rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Publicly readable, but only authenticated users can write/delete projects
    match /projects/{projectId} {
      allow read: if true;
      allow write, delete: if request.auth != null;
    }

    // Default deny all other requests
    match /{document=**} {
      allow read: if false;
    }
  }
}