rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Only allow authenticated users to read/write their own documents
    match /users/{userId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Publicly readable, but only authenticated users can write projects
    match /projects/{projectId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Default deny all other requests
    match /{document=**} {
      allow read: if false;
    }
  }
}