.banner {
  position: relative;
  width: 100%;
  height: 400px;
  perspective: 1200px;
  background: #fff5ec;
  overflow: hidden;
  user-select: none;
}

.banner-grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8rem;
  height: 100%;
  text-align: left;
}

.banner-content {
  max-width: 1200px;
}

.banner-title {
  font-size: clamp(35px, 4vw, 60px);
  margin-bottom: 0.8rem;
}

.banner-subtitle {
  font-size: clamp(20px, 2.5vw, 35px);
}

/* Smaller devices tweaks */
@media (max-width: 768px) {
  .banner {
    height: 300px;
  }

  .banner-grid {
    padding: 0 2rem;
  }
}

/* Smaller devices tweaks */
@media (max-width: 480px) {
  .banner {
    height: 300px;
  }

  .banner-grid {
    padding: 0 2rem;
  }
}
