.project-container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  overflow: hidden;
  padding: 1rem 8rem;
}

.project-title {
  width: 100%;
  margin: 2rem auto 2rem auto;
  padding: 1.5rem 0;
  text-align: left;
  line-height: 1.3;
  font-size: clamp(35px, 4vw, 60px);
}

.project-subtitle {
  width: 100%;
  padding: 5px 0;
  margin: 0 auto 0 auto;
  text-align: left;
  font-size: clamp(16px, 2vw, 20px);
}

.project-description {
  width: 100%;
  padding: 5px 0;
  line-height: 1.5;
  margin: 10px auto 2rem auto;
  text-align: left;
  font-size: clamp(16px, 2vw, 20px);
}

.project-error-message {
  padding: 2rem;
  text-align: center;
  color: red;
  font-weight: 500;
}

.description-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.description-container > div {
  flex: 1;
}

@media (max-width: 768px) {
  .project-container {
    padding: 0;
  }

  .project-title {
    margin: 0;
    padding: 2rem;
  }

  .project-subtitle, .project-description {
    margin: 0;
    padding: 1rem 2rem;
  }

  .description-container {
    flex-direction: column;
  }

  .description-container h4 {
    padding: 0 2rem;
  }
}
