.project-container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  overflow: hidden;
}

.project-title {
  color: #2c3e50;
  margin: 2rem auto 2rem auto;
  padding: 0 1rem;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 1px 1px 6px rgba(44, 62, 80, 0.15);
  position: relative;
}

.project-description {
  color: #555;
  line-height: 1.75;
  max-width: 750px;
  margin: 2rem auto 2rem auto;
  padding: 0 1rem;
  text-align: justify;
  letter-spacing: 0.025em;
}

.project-error-message {
  padding: 2rem;
  text-align: center;
  color: red;
  font-weight: 500;
}
