:root {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  height: 100%;
  margin: 0;
  min-width: 374px;
  color-scheme: light dark;
  color: rgba(48, 13, 13, 0.87);
  background-color: #fff5ec;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  color: #ff7e6b;
  text-decoration: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 20px;
  background-color: #fff5ec;
  color: #ff664e;
  height: 100%;
  margin: 0;
}

h1 {
  font-family: 'coolvetica', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: #ff7e6b;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 35px;
  color: #ff7e6b;
}

h3 {
  font-family: 'coolvetica', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: clamp(20px, 2vw, 35px);
  color: #ff7e6b;
}

h4 {
  font-family: 'coolvetica', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #fff5ec;
}
